@charset "utf-8";

.ipt{
	font-size:18px;
	height:18px;
	width:40px;
}

.ipt5{
	font-size:60px;
	height:70px;
	width:180px;
}

.ipt2{
	font-size:75px;
	height:80px;
	width:260px;
}

.ipt1{
	font-size:80px;
	height:86px;
	width:300px;
}

*{
	font-size:14px;
}

html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	background-repeat: no-repeat;
	margin:0px;
	padding:0px;
	background:#2C0001 url('images/front-page.jpg');
	font-family:"宋体";
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

div.Top{
	width:100%;
}

div.End{
	width:80%;
	margin:11px auto;
	display:none;
	background-repeat: no-repeat;
	filter:Alpha(Opacity=85);
	-moz-opacity:0.7;
	padding-top:230px;
}

div.End ul{
	text-align:left;
	background:#FFFFFF;
	padding:10px 0;
}

div.End ul li{
	line-height:26px;
	color:#800000;
	font-weight:bold;
	border-bottom:1px #FF8080 dashed;
}

div.End ul li span{
	padding:0 9px;
	font-size:15px;
	word-wrap:break-word;
}

a {
	color:#fff;
}

ul{
	margin:0;
	padding:0;
	list-style: none;
}

#num{
	width:980px;
	height:300px;
}

h2.title{
	margin-top:20px;
	margin-bottom: 20px;
	font-size:48px;
	color: #800000;
	line-height:28px;
	font-weight: bolder;
}

.prize-candidate-count{
	font-size: 35px;
}

.MainBG{
	height:270px;
	margin:170px 15px 0 15px;
	/*background-image:url('images/bg.gif');*/
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.85);
	filter:Alpha(Opacity=85);
	-moz-opacity:0.7;
	padding:5px;
	border-radius: 10px;
}

#Main{
	text-align:center;
}

.input{
	margin-top:20px;
}

.input input{
	text-align:center;
	margin:2px 2px;
	display:inline;
	background-color:#fff;
	color:#020000;
	border:1px red dashed;
	font-family:"宋体";
}

#input{
	text-align:center;
}

#input input{
	height:40px;
	width:110px;
	margin:15px 5px 5px;
}

#out{
	margin:5px 15px 10px 15px;
	color: #FFFF00;
}

#out fieldset{
	text-align:left;
	/*border: solid 1px #F1F1F1;*/
	border-radius: 15px;
}

#out legend{
	color:white;
	font-weight:bolder;
	padding:0 5px;
}

#out #tableOUT{
	overflow-x:hidden;
	overflow-y:auto;
	height:135px;
	padding-top:5px;
}

#out .oTitle{
	padding:0 10px;
	line-height:20px;
	font-weight:bolder;
}

#out .oMain{
	padding:0 5px;
	line-height:20px;
	font-size:14px;
}

#out li{
	/*border-bottom:1px white dashed;*/
	clear:both;
	padding-top:2px;
	line-height:30px;
	zoom:1;
}

.oneOut{
	display:none;
	width:50%;
	height:145px;
	position:absolute;
	z-index:1000;
	left:25%;
	top:290px;
	overflow:hidden;
}

.oneOut div{
	width:360px;
	height:145px;
	margin:0 auto;
	background:url(images/single-candidate.gif) no-repeat;
	text-align:center;
	color:yellow;
	line-height:140px;
	font-family:"宋体";
	font-size:100px;
	font-weight:bold;
}

.OFF{
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
	cursor:pointer;
	font-weight:bolder;
	color:orange;
}

.CTRL{
	position: absolute;
	z-index: 1;
	right: 45px;
	top: 10px;
	cursor:pointer;
	font-weight:bolder;
	color:orange;
}

.QD{
	/*width:200px;*/
	height:60px;
	font-size:26px;
}

#ctrl{
	display: none;
	position:absolute;
	left:10px;
	bottom:10px;
	top:10px;
	right:10px;
	background:white;
	z-index:10001;
	filter:Alpha(Opacity=95);-moz-opacity:0.95;
	border:2px solid yellow;
	overflow: auto;
}

.m_title{
	width:150px;
}

.m_num{
	width:60px;
	text-align: right;
}

.m_style{
	width:300px;
}

#candidate-count-info {
	display: none;
	/*margin-top: 15px;*/
	font-size: 22px;
}

#candidate-count-info-value {
	color: red;
	font-family: arial;
	font-size: 22px;
	font-weight: bold;
}
